<%- include('../includes/header'); %>

<div class="container">
  <h2>Create Player</h2>

  <form action="/players/store" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control" id="age" name="age" />
    </div>

    <div class="mb-3">
      <label for="club" class="form-label">Club</label>
      <select
        class="form-select"
        aria-label="Default select example"
        id="club"
        name="club"
      >
        <option selected>Select the club</option>
        <% clubs.forEach( (club) => { %>
        <option value="<%= club.id %>"><%= club.name %></option>
        <% }); %>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
</div>

<%- include('../includes/footer'); %>
